*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
h1,h2{
    font-family: 'Pacifico', cursive;
}
header{
    background-color: azure;
    font-size: 2.5rem;
    padding: 0 20px;
    margin-bottom: 20px;
    text-align: center;
}
form{
    display: flex;
    flex-direction:column;
    margin:0 auto;
    background-color: #eee;
    padding: 20px;
    justify-content: center;
    width: 500px;
    
}
form label{
    font-weight: bold;
    font-size: 25px;
}
form input, form button{
    display: block;
    margin:8px 5px;
    
}
button{
    background-color: darkgoldenrod;
    color:#fff;
    max-width: max-content;
    border-radius: 12px;
    padding: 3px;
}
.novaLista h2{
    text-align: center;
}
.novaLista button{
    margin-left: 25%;
}
.novaLista span{
    font-weight: bold;
    color:crimson;

}
#lista_completa{
    display:flex;
    padding: 10px;
    background-color: #fff;
    justify-content: center;
    margin: 10px 20px;
    
}
li {
    cursor: pointer;
}
.done{
    text-decoration: line-through;
    color:crimson;
}

